@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Sample Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="~/Content/tema1/font-awesome/4.5.0/css/font-awesome.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/PageJS/Login.js"></script>
    <style>
        .login-btn-hover:hover {
            opacity: 0.9;
        }

            .login-btn-hover:hover > .spn {
                color: black;
            }
    </style>
</head>
<body  style="background-image: url('../Images/Backgrounds/login_bg.jpg');background-repeat: no-repeat;height: 100%;">
    <center>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style=" position: relative">

            <img src="~/Images/Logos/logo.jpg" width="450" height="175" style="border-radius:50px" />
            <h3 class="text-white">Sample App Giriş</h3>
            <small class="text-white mb-2">Lütfen Bilgilerinizi Giriniz</small>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" class="form-control" style="border-radius:25px !important;max-width:480px" id="txtUsername" name="txtUsername" placeholder="Kullanıcı Adı" required />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                    <input type="password" class="form-control" style="border-radius:25px !important;max-width:480px" id="txtPassword" name="txtPassword" placeholder="Şifre" required />
                </div>

                <div class="row mt-2">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                        <input type="checkbox" name="chkBeniHatirla" checked="checked" />
                        <span class="text-white"> Beni Hatırla</span>

                        <a class="pull-right text-white" style="margin-left:100px" href="#">Şifremi Unuttum</a>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                    <button class="btn btn-block btn-round login-btn-hover" style="border-radius: 50px !important; width:480px;background-color: cadetblue !important;border-color: cadetblue;color: white !important" type="submit" onclick="javascript:SignIn()">
                        <span class="bigger-110 spn">GİRİŞ YAP</span>
                    </button>
                </div>

                

            </div>



        </div>
    </center>
    @Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/CommonJS/Common.js"></script>

</body>
</html>

